<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8733/EvalServiceLibrary/evals"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEvalService1"
        contract="EvalRefFromService.IEvalService" name="BasicHttpBinding_IEvalService1" />
          </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetaData">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/evals/meta" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEvalService" />
        <binding name="BasicHttpBinding_IEvalService1" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="MetadataExchangeTcpBinding_IEvalService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="NoSecurityPlusRM">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
    
    </services>
  </system.serviceModel>
</configuration>